/.crates-lsp/plugins
/.zed
/target
/target/
**/*.rs.bk
*.lock
.DS_Store
.idea/
.vscode/
*.swp
*.swo
*~
.project
.classpath
.settings/
config.json
database.db
node_modules/
package-lock.json
/crates/webserver/src/htmlsrc/proto-client.js
crates/protocol/src/generated
.cargo/
